<!-- registerbusiness.html-->

{% extends "base.html" %}
{% block title %}Register business{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Make your business easy to find.</h1>
</div>
<h1>Please register your business</h1>
<br>
<form action="mybusinesses">
    <input type="text" placeholder="business" name="simba" value="{{ request.form.business}}">
    <input type="text" placeholder="location" name="kampala" value="{{request.form.location}}">
    <input type="text" placeholder="category" name="technology" value="{{request.form.category}}">
<input class="btn btn-default" type="submit" value="Register">
</form>
{% endblock %}